#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
    font-weight: bolder;
}

.text-muted {
    font-weight: bolder !important;
}
/* Country Field */
#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
    font-weight: bolder;
}

#id_default_country option:first-child {
    color: #aab7c4;
}